#ratingsbox {
	display:table;
    width: 65%;
	margin: auto;
}

.ratingsboxcontent{
	display:table-cell;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.ratingsboxuser{
	display:table-cell;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.ratingsboxcontent h3, .ratingsboxuser h3 {
	font-size: 35px;
}

#userrate {
	display:table;
    width: 100%;
	margin: auto;
	padding-top: 10px;
    padding-bottom: 10px;
	text-align:center;
}

#userrate h2{
	text-align: center;
}

#urvalue {
    font-size: 34px;
    padding: 10px;
    font-weight: bold;
    position: absolute;
    margin-top: -20px;
}

#userrating {
	width: 75%;
}

.ratingsubmit{
    margin: auto;
    width: 100px;
    display: table;
    font-size: 20px;
}
